{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{% static 'portfolio/css/stayles.css' %}">
    <title>Amantur Cool!!!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;600&display=swap" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    
    <header>
        <div class="container">
            <div class="header_inner">
                <div class="header__logo">
                    <img src="https://pngimg.com/uploads/fcb_logo/small/fcb_logo_PNG24.png" alt="logo">
        
                </div>
                <nav class="nav">
                    <a href="#me" class="nav__link">about me</a>
                    <a href="#thing" class="nav__link">thing</a>
                    <a href="#works" class="nav__link">works</a>
                    <a href="#m" class="nav__link">motivation</a>
                    <a href="#contact" class="nav__link">Contact</a>
                </nav>
                <div class="menu">Menu</div>
            </div>
        </div>
    </header>
    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <div data-aos="fade-down">
                <div class="intro__title"><h1>
                    I am a Developer</h1></div>
                    <h2 class="intro-subt">
                        Love codding </h2>
                        <a href="#" class="btn btn--red btn--long">More read</a>
                </div>    
                </div></div>
            </div>
      
    
  
    <div class="container">
    <a name="thing"></a>
    <div class="features">
        <!-- <div class="featurs"></div> 
        </div> -->
        
        <div class=features__item>
            <img class="f_icon" src="{% static 'images/ph1.jpg' %}" alt="">
            <h4 class ="f_text">тупо текст</h4>
            <div class = "f_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius modi autem. Voluptatibus, eum? Minima provident dolorum in alias aliquid quidem ipsa laborum adipisci facilis?
            </div>

        </div>
        <div class=features__item>
            <img class="f_icon" src="{% static 'images/ph2.jpg' %}" alt="">
            <h4 class ="f_text">Lorem, ipsum.</h4>
            <div class = "f_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius modi autem. Voluptatibus, eum? Minima provident dolorum in alias aliquid quidem ipsa laborum adipisci facilis?
            </div>

        </div>
        <div class=features__item>
            <img class="f_icon" src="{% static 'images/ph3.jpg' %}" alt="">
            <h4 class ="f_text">Lorem, ipsum.</h4>
            <div class = "f_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius modi autem. Voluptatibus, eum? Minima provident dolorum in alias aliquid quidem ipsa laborum adipisci facilis?
            </div>

        </div>
        <div class=features__item>
            <img class="f_icon" src="{% static 'images/ph4.jpg' %}" alt="">
            <h4 class ="f_text">Lorem, ipsum.</h4>
            <div class = "f_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius modi autem. Voluptatibus, eum? Minima provident dolorum in alias aliquid quidem ipsa laborum adipisci facilis?
            </div>

        </div>
        <div class=features__item>
            <img class="f_icon" src="{% static 'images/ph5.jpg' %}" alt="">
            <h4 class ="f_text">Lorem, ipsum.</h4>
            <div class = "f_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius modi autem. Voluptatibus, eum? Minima provident dolorum in alias aliquid quidem ipsa laborum adipisci facilis?
            </div>

        </div>
        <div class=features__item>
            <img class="f_icon" src="{% static 'images/ph6.jpg' %}" alt="">
            <h4 class ="f_text">Lorem, ipsum.</h4>
            <div class = "f_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius modi autem. Voluptatibus, eum? Minima provident dolorum in alias aliquid quidem ipsa laborum adipisci facilis?
            </div>

        </div>
    </div>
    </div>
<!-- </div> -->
{% comment %} <div data-aos="zoom-in"></div> {% endcomment %}
    <div  name="works" class="works">
    <a name="works"></a>
    <div class="works__item">
        <img class="woks__photo" src="https://lh3.googleusercontent.com/proxy/wsOzQeQmxCcNvufci1RNA7b2qkyp0RjLW335I63FZwgw0q2_bbxmQ8N73A0Sr0Kbzv3nVyn8Hc12KEhnSOID8RurYaqU9LRQoyE1bA"
        alt="p">
        <div class="works__content"> 
        <div class="works__title">Меня зовут<strong>живу>Эркинов Амантур</strong>живу в Кыргызстане </div>

        
        <div class="works__text">Lorem ipsum. </div> 
    </div>
    </div>
        <div class="works__item">
            <img class="woks__photo" src="https://avatanplus.com/files/resources/mid/5883ecf859448159c355aa2e.jpg"
            alt="p">
            <div class="works__content"> 
            <div class="works__title">Project Name</div>
            <div class="works__text">Lorem ipsum. </div> 
        </div>
        </div>
        <div class="works__item">
            <img class="woks__photo" src="https://avatanplus.com/files/resources/mid/5883ecf859448159c355aa2e.jpg"
            alt="p">
            <div class="works__content"> 
            <div class="works__title">Project Name</div>
            <div class="works__text">Lorem ipsum. </div> 
        </div>
        </div>
        <div class="works__item">
            <img class="woks__photo" src="https://avatanplus.com/files/resources/mid/5883ecf859448159c355aa2e.jpg"
            alt="p">
            <div class="works__content"> 
            <div class="works__title">Project Name</div>
            <div class="works__text">Lorem ipsum. </div> 
        </div>
        </div>
      
        <div class="works__item">
            <img class="woks__photo" src="https://avatanplus.com/files/resources/mid/5883ecf859448159c355aa2e.jpg"
            alt="p">
            <div class="works__content"> 
            <div class="works__title">Project Name</div>
            <div class="works__text">Lorem ipsum. </div> 
        </div>
        </div>
        <div class="works__item">
            <img class="woks__photo" src="https://avatanplus.com/files/resources/mid/5883ecf859448159c355aa2e.jpg"
            alt="p">
            <div class="works__content"> 
            <div class="works__title">Project Name</div>
            <div class="works__text">Lorem ipsum. </div> 
        </div>
        </div>
        <div class="works__item">
            <img class="woks__photo" src="https://avatanplus.com/files/resources/mid/5883ecf859448159c355aa2e.jpg"
            alt="p">
            <div class="works__content"> 
            <div class="works__title">Project Name</div>
            <div class="works__text">Lorem ipsum. </div> 
        </div>
        </div>
        <div class="works__item">
            <img class="woks__photo" src="https://avatanplus.com/files/resources/mid/5883ecf859448159c355aa2e.jpg"
            alt="p">
            <div class="works__content"> 
            <div class="works__title">Project Name</div>
            <div class="works__text">Lorem ipsum. </div> 
        </div>
        </div>
    </div>
    {% comment %} </div> {% endcomment %}
<div class="project">
    <div class="container">
     <a name="m"></a>
        <div data-aos="fade-left">
    
        <div class="project__inner">
            <div class="project__item">
                <img class="project__photo" src="https://us.123rf.com/450wm/diddleman/diddleman2006/diddleman200600003/148703616-never-give-up-motivation-poster-concept-creative-grunge-fist-vector-design-element-on-stain-backgrou.jpg?ver=6" alt="project">
                <div class="project__name">
                    lorem, ipsum.
                </div>
                <div class="project__prof">
                    2021-2022
                </div>
                <div class="project__text">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates quae, quas quasi assumenda deserunt, perspiciatis quidem dicta placeat voluptate, ratione velit expedita in rerum odio minus voluptatum natus minima laboriosam.</p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda adipisci tempora autem facilis delectus ipsa, animi eligendi quod itaque
                    </p>
                </div>
            </div>
            <div class="project__item">
                <img class="project__photo" src="https://us.123rf.com/450wm/diddleman/diddleman2006/diddleman200600003/148703616-never-give-up-motivation-poster-concept-creative-grunge-fist-vector-design-element-on-stain-backgrou.jpg?ver=6" alt="project" alt="project">
                <div class="project__name">
                    lorem, ipsum.
                </div>
                <div class="project__prof">
                    2021-2022
                </div>
                <div class="project__text">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates quae, quas quasi assumenda deserunt, perspiciatis quidem dicta placeat voluptate, ratione velit expedita in rerum odio minus voluptatum natus minima laboriosam.</p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda adipisci tempora autem facilis delectus ipsa, animi eligendi quod itaque
                    </p>
                </div>
            </div>
            <div class="project__item">
                <img class="project__photo" src="https://us.123rf.com/450wm/diddleman/diddleman2006/diddleman200600003/148703616-never-give-up-motivation-poster-concept-creative-grunge-fist-vector-design-element-on-stain-backgrou.jpg?ver=6" alt="project" alt="project">
                <div class="project__name">
                    lorem, ipsum.
                </div>
                <div class="project__prof">
                    2021-2022
                </div>
                <div class="project__text">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates quae, quas quasi assumenda deserunt, perspiciatis quidem dicta placeat voluptate, ratione velit expedita in rerum odio minus voluptatum natus minima laboriosam.</p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda adipisci tempora autem facilis delectus ipsa, animi eligendi quod itaque
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="aboutMe">
    <div class="container">
        <div class="aboutMe__item">
            <a name="me"></a>
            <div class="aboutMe__photo">
                <div data-aos="zoom-out-right">
                <img class="aboutMe__img" src="{% static 'images/myphoto.jpg' %}" alt="myfoto">
                </div>
            </div>
            <div class="aboutMe__content">
                <div class="aboutMe__text">здравствуйте и да 
я люблю кодить и я разработчик.
Меня зовут Эркинов Амантур я начинающий програмист

                </div>

                <div class="aboutMe__author">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga atque minus, delectus ducimus quam earum.</div>
            </div>

        </div>
    </div>
</div>


<div data-aos="fade-up"
     data-aos-duration="2500">

<div class="contact">
    <div class="container">
        <h3 class="d__title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptate veniam, esse voluptatum dolore aliquam?
        </h3>

        <div class="d__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rerum beatae in quia vel qui.</div>
    <div data-aos="fade-up"
     data-aos-duration="3000">

        <form action="formMessage/" method="POST">
            {% csrf_token %}
            <input type="email" placeholder="Email" name="email">
            <br>
            <br>
            <input type="text" placeholder="Phone number" name="phone_number">
             <br>
             <br>
            <textarea name="message" cols="30" rows="5" placeholder="Message"></textarea>
        
        <br>
        <br>
        <button type="submit" class="btn bth--red btn--long">Send</button>
        </form>
    
        {% comment %} <a name="contact"></a> {% endcomment %}
        {% comment %} <a class="btn bth--red btn--long"  target="_blank" href="https://wa.me/+996558212040">Call me</a> {% endcomment %}
    </div>
</div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer_inner">
            <div class="footer_block">
            <div data-aos="fade-down-right">
                <h4 class="footer_title">Location</h4>
                <address class="footer__address">Lenin 13 
                    <div>Lorem , ipsum dolor 987778</div>
                </address>

                
                <div class="footer__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, delectus voluptatum. Dignissimos minima facilis d
                </div>
            </div>
            </div>
        <div class="footer_block">
         <div data-aos="zoom-in-up">
            <h4 class="footer_title">
            
                About Me
            </h4>
            <div class="footer__text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore provident magni blanditiis temporibus aperiam consectetur reiciendis non excepturi laudantium ullam veniam ut, vitae ea pariatur odit explicabo debitis alias. Quaerat!

            </p></div>
        </div> 
        </div>
        <div class="footer_block">
            <div data-aos="fade-down-left">
            <h4 class="footer_title">
                About Me
            </h4>
            <div class="footer__text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore provident magni blanditiis temporibus aperiam consectetur reiciendis non excepturi laudantium ullam veniam ut, vitae ea pariatur odit explicabo debitis alias. Quaerat!
                
            </p></div>
        </div>
        </div>
        </div>
        
    </div>
    </div>
    </div>
    
    <div class="copyright">
        <div class="copyright__text">
            <div>Copytight o MI. All Rights Reserved</div>
            <div>Made <span>MI</span></div>
        </div>
    </div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init();
</script>

</body>
</html>
